= simple_form_for @speak, :html => { :class => 'form-horizontal' } do |f|
  = f.input :text, input_html: {rows: 5}
  \#番号 で発言にリンクできます。
  .form-actions
    = f.submit "発言する", :class => 'btn btn-primary', data:{ disable_with: "送信中..." }
    = link_to t('.cancel', :default => t("helpers.links.cancel")), speaks_path, :class => 'btn'
