%span{id: "vote_#{speak.id}"}
  = speak.cached_votes_score
  - if can? :vote, speak
    - if current_user.votes.pluck(:votable_id).include? speak.id
      = link_to glyph(:thumbs_up, :active), vote_speak_path(speak, cancel: true), method: :post, remote: true
    - else
      = link_to glyph(:thumbs_up), vote_speak_path(speak), method: :post, remote: true
