.page-header
  %h1 このシステムについて
%h2 これは何？
このシステムは、2013年5月11日に開催される<a href="http://www.dpj-youth.net/reflection2013/">民主党公開大反省会</a>の為に開発された、ディスカッションボードシステムです。
このシステムに「参加者」としてログインしたユーザーは自由に発言が出来ます。発言内容はすべて一般に公開されます。
会の運営スタッフはこれらの意見をもとに、司会進行をしてゆきます。
%h2 どんな特徴があるの？
本システムの開発にあたり、以下の要求がありました。
%ul
  %li 発言を会の参加者（30歳以下600名）に限定する
  %li 参加者の匿名性を担保する
  %li 参加者は PC やスマートフォンを持っているとは限らない為、WiFi によるアクセス制限は出来ない
これらの条件を満たす為に、あらかじめ用意した 600 組の ID/password を当日の参加者に配布するという形を取ります。
どの参加者にどの ID が渡されるかは完全にランダムですので、自分の意志で ID を公開しない限り、特定個人と発言者が結びつくことはありません。
%h2 誰が作ったの？
会の運営スタッフの依頼により、 <a href="https://twitter.com/kuboon">大久保 康平</a> が開発しました。全てのソースコードは <a href="https://github.com/kuboon/dpj-reflection2013">GitHub</a> にて公開しています。
皆様からの pull-request を歓迎します。
%h2 現在、テスト公開中です
<a href="/session/new">参加者ログイン</a> からログインしてみてください。
ユーザー名に 1 から 100 のうち任意の数字、パスワードは "hogehoge" でアクセス出来ます。
また、ユーザー名 "admin" パスワード "admin" で、管理者(当日の進行役) としてログイン出来ます。
