.page-header
  %h1 このシステムについて
%h2 これは何？
このシステムは、公開討議等で参加者からの発言を集約するためのディスカッションボードシステムです。
このシステムに「参加者」としてログインしたユーザーは自由に発言が出来ます。
会の運営スタッフはこれらの意見をもとに、司会進行をしてゆきます。
%h2 どんな特徴があるの？
%h3 投票システム
ログインユーザーは、任意の発言に対して同意を示すことが出来ます。
発言は投票順に並べる事が出来ます。また、その際に「発言番号○○番以降」という指定が出来ますので、会の進行にあわせて、最新の話題における人気発言を追うことが出来ます。

%h2 誰が作ったの？
会の運営スタッフの依頼により、 <a href="https://twitter.com/kuboon">大久保 康平</a> が開発しました。全てのソースコードは <a href="https://github.com/open-political-platform-japan/discussion-board">GitHub</a> にて公開しています。
