// Place all the styles related to the speaks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.speaks {
  th.narrow, td.narrow { width: 50px }
  td.narrow { text-align: right; }
  .icon-gray { color: gray; visibility: hidden; }
  tr:hover .icon-gray { visibility: visible; }
}
