// Place all the styles related to the speaks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.speaks {
  .icon-thumbs-up { color: gray; }
  dt:hover .icon-thumbs-up { color: inherit; }
  .icon-thumbs-up.icon-active { color: inherit; }
  dt:hover .icon-thumbs-up.icon-active { color: gray; }

  article {
    margin: 0;
    padding: 1em;
    &:nth-child(odd) { background-color: #fee; }
  }
}
